font-family: 'Barlow', sans-serif;

*{}
/*animations*/
.ping {
	/*position: absolute;*/
	width: 50%;
	height: 50%;
	/*margin: 0 auto;*/

	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
/*	top:50%;
left:40%;*/
background-color: red;
/*	width: 30px;
height: 30px;*/
/*	background-color: black;*/
color: black;
/*border-radius: 50px;*/
/*	top: 50%;
left: 50%;*/
	/*-webkit-animation: ping 0.35s infinite both;
	animation: ping 0.35s infinite both;*/
}

@-webkit-keyframes ping {
	0% {
		-webkit-transform: scale(0.2);
		transform: scale(0.2);
		opacity: 0.8;
	}
	80% {
		-webkit-transform: scale(1.2);
		transform: scale(1.2);
		opacity: 0;
	}
	100% {
		-webkit-transform: scale(2.2);
		transform: scale(2.2);
		opacity: 0;
	}
}
@keyframes ping {
	0% {
		-webkit-transform: scale(0.2);
		transform: scale(0.2);
		opacity: 0.8;
	}
	80% {
		-webkit-transform: scale(1.2);
		transform: scale(1.2);
		opacity: 0;
	}
	100% {
		-webkit-transform: scale(2.2);
		transform: scale(2.2);
		opacity: 0;
	}
}



.text-fade-in {
	-webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 3s both;
	        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 3s both;
}


@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.slide-out-right {
	-webkit-animation: slide-out-right 0.95s cubic-bezier(0.895, 0.030, 0.685, 0.220) both;
	animation: slide-out-right 0.95s cubic-bezier(0.895, 0.030, 0.685, 0.220) both;
}



@-webkit-keyframes slide-out-right {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateX(1000px);
		transform: translateX(1000px);
		opacity: 0;
	}
}
@keyframes slide-out-right {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateX(1000px);
		transform: translateX(1000px);
		opacity: 0;
	}
}

.fade-in {
	-webkit-animation: fade-in 1s linear both;
	animation: fade-in 1s linear both;
}


@-webkit-keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

body{
	position: relative;
	padding: 0;
	margin:0;
}
.mainHeader{
	display:flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	align-content: center;
	height: 100vh;
	background-image: url('../img/nkanyiso-cropped.jpg');
	background-repeat: no-repeat;
	background-position: center;
	/*background-size: cover;*/
	background-size: calc(100% + 50px);
	min-width: 100vw;
	margin:0;
	padding:0;
	position: fixed;

}

.
/*.mainHeader a{
	position: absolute;
	z-index: 3;
	text-decoration: none;
	font-size: 1.5em;
	text-transform: capitalize;
	font-weight: 400;
	color:black;
	-webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 5s both;
	animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 5s both;
}*/

.mainHeader .bubble{
	background: #fae9e1;
	padding: 3em;
	position: absolute;
	border-radius: 100px;
	left: 0;
	top: 20%;
	box-shadow: 1px 1px 96px #9E9E9E;
}
.blur{
	position: absolute;
	height: 100vh;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: transparent;
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}

a.navigation{
	position: absolute;
	/*transform: rotate(90deg);*/
	top: 0%;
	right: 0em;
	text-decoration: none;
	font-size: 1em;
	background-color: #292E37;
	padding: 0.5em;
	color:white;
	z-index: 1
}
.mainHeader a{
	color: #2500ac;
	font-size:2em;
	letter-spacing: -2px;
	text-decoration: none;
	padding: 0 0.7em;
	font-weight: bolder;
}
.mainHeader a:hover{
	text-shadow: 1px 3px 0px red;
	transition: 0.5s ease-in-out;

}
.mainHeader p{
	text-align: center;
}
.modal-dialog{
	max-width: 100vw;
	margin: 0 auto;
}

.modal{
	padding:0 !important;
}
.modal-open .modal{
	background-color: white;

}
.modal-content{
	border: 0px;
}

.modal-body{
	padding: 0;
}

.modal-body .close
{
	position:absolute;
	top: :0;
	right:0;
	font-size: 3em;
	color:white;
}
.modal-content .modalHeader{
	height: 30vh;
	background-color: red;
	display: flex;
	justify-content: center;
	align-items: center;

}

.modal-content .modalHeader h1{
	font-size: 5rem;
	font-style: italic;
	font-weight: 900;
	color:white;

}
.modal-content form{
	width: 70%;
	margin:3em auto;
}

.modal-content form .form-group{
	margin-bottom: 2em;
	border-radius: 0;
	border-bottom: 2px solid black;
	
}

.modal-content form .form-group input{
	border-radius: 0;
	border-bottom: 2px solid black;
	border-color: white;
}

.modal-content form .submitBtn{
	color:white;
	background-color: black;
	border-radius: 0;
	border-color: black;
}
.loader{
	z-index: 1000;
	width: 100%;
	height: 100%;
	background: #faedf4;
	position: absolute;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hide-body{
	visibility: hidden;
}




@keyframes spin{
	100%{transform: rotate(360deg);}
}



.mainContent .bgImage{
	background: url("../img/nkanyiso3.jpg");
	background-size: contain;
	background-repeat: no-repeat;
}

.ping {
	-webkit-animation: ping 0.8s ease-in-out infinite both;
	        animation: ping 0.8s ease-in-out infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-6-16 18:2:28
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation ping
 * ----------------------------------------
 */
@-webkit-keyframes ping {
  0% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    opacity: 0.8;
  }
  80% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(2.2);
            transform: scale(2.2);
    opacity: 0;
  }
}
@keyframes ping {
  0% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    opacity: 0.8;
  }
  80% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(2.2);
            transform: scale(2.2);
    opacity: 0;
  }
}
